<form>
  <h3>Login</h3>
  <input type="text" placeholder="Username" ng-model="$ctrl.username">
  <input type="password" placeholder="Password" ng-model="$ctrl.password">
  <button ng-click="$ctrl.signin()">Sign in</button>
</form>
<div ng-if="$ctrl.error">{{$ctrl.error.error}}</div>
<form>
  <h3>Sign up</h3>
  <input type="text" placeholder="Username" ng-model="$ctrl.newUsername">
  <input type="password" placeholder="Password" ng-model="$ctrl.newPassword">
  <button ng-click="$ctrl.signup()">Sign up</button>
</form>