<section ng-class="$ctrl.styles.welcome">
  <div class="wrapper">
    <div class="heading">
      <h1>GAMEBRAIN</h1>
      <button class="flat-button" ui-sref="login">SIGN IN</button>
    </div>
  </div>
  <div class="panel first">
    <h2>Plan your friends' favorite boardgame night.</h2>
    <button class="button" ui-sref="signup">GET STARTED</button>
  </div>
  <div class="panel-container">
    <div class="panel sub second">
      <h3>Track your game collection.</h3>
      <div class="img-box1"></div>
    </div>
    <div class="panel sub third">
      <h3>Invite your friends to gamenights.</h3>
      <div class="img-box2"></div>
    </div>
    <div class="panel sub fourth">
      <h3>See your friends' available games and make requests.</h3>
      <div class="img-box3"></div>
    </div>
  </div>
</section>