@import 'colors';

:local(.welcome) {
  height: 100vh;
  background-color: $blue;

  .wrapper {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Cabin Sketch', 'Helvetica', sans-serif;
    padding: 20px;
    color: floralwhite;
  }

  h2 {
    margin: 0;
    padding: 1em 1em 1.25em;
    font-weight: 400;
    color: white;
    font-size: 20px;
  }

  h3 {
    margin: 0;
    padding: 1em 1em 1.25em;
    font-weight: 400;
    color: white;
    font-size: 20px;
  }

  .panel {
    text-align: center;
    height: 15em;
    padding: 0;
  }

  .first {
    height: 60vh;
  }

  .sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  .second {
    background-color: $medium-blue;
  };

  .third {
    background-color: $wine; 
  };

  .fourth {
    background-color: $dark-blue; 
  };

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .img-box1 {
    width: 50px;
    height: 35px;
    padding: .5em;
    background-image: url('../../imgs/list.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .img-box2 {
    width: 50px;
    height: 50px;
    background-image: url('../../imgs/friends.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .img-box3 {
    width: 50px;
    height: 50px;
    background-image: url('../../imgs/plan.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .panel-container {
    display: flex;
    flex-direction: column;
  }

  .button {
    margin: .25em;
    border: none;
    min-width: 64px;
    padding: 0 16px;
    background-color: $accent;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    color: white;
    cursor: pointer;

    &:hover {
      outline: none;
      color: $text;
      box-shadow: 0 2px 6px rgba(0,0,0,.5);
    }
  }

  .flat-button {
    margin: 16px;
    font-size: 13px;
    font-weight: 500;
    height: 32px;
    color: $accent;
    padding: 0 16px;
    border: none;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    outline: none;
    cursor: pointer;

    &:hover {
      color: $text;
      box-shadow: 0 2px 6px rgba(0,0,0,.5);
    }
  }

  @media screen and (min-width: 550px) {

    h2 {
      font-size: 26px;
      margin: 1em;
    }

    h3 {
      font-size: 24px;
    }

    .heading {
      margin-bottom: 4em; 
    };

    .button, .flat-button {
      font-size: 14px;
      height: 36px;
    }
  }

  @media screen and (min-width: 700px) {
      .sub {
        flex-direction: row;
      }
  }

}