@import 'colors';

:local(.home) {
  ul {
    list-style: none;
    display: flex;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    padding: .5em;
    color: $text;
    background-color: $light-blue;

    &:hover {
      background-color: $accent;
    }
  }
}