<section ng-class="$ctrl.styles.header">
  <header>
    <div>
      <h1>GAMEBRAIN</h1>
      <ul id="header-nav">
        <a ui-sref="home.collection" ng-class="{selected: $ctrl.tab === 'collection'}"><li>MY GAMES</li></a>
        <a ui-sref="home.friends" ng-class="{selected: $ctrl.tab === 'friends'}"><li>FRIENDS</li></a>
        <a ui-sref="home.gamenights" ng-class="{selected: $ctrl.tab === 'gamenights'}"><li>GAMENIGHTS</li></a>
      </ul>
      <div id="user">
        <p>{{$ctrl.current.username}}</p>
        <button ng-click="$ctrl.logout()">Logout</button>
      </div>
    </div>
    <div id="under-nav">
      <ul>
        <a ui-sref="home.collection" ng-class="{selected: $ctrl.tab === 'collection'}"><li>MY GAMES</li></a>
        <a ui-sref="home.friends" ng-class="{selected: $ctrl.tab === 'friends'}"><li>FRIENDS</li></a>
        <a ui-sref="home.gamenights" ng-class="{selected: $ctrl.tab === 'gamenights'}"><li>GAMENIGHTS</li></a>
      </ul>
    </div>
  </header>
</section>