@import 'colors';

:local(.header) {
  font-size: 12px;

  header {
    background-color: $dark-blue;
    align-items: center;
    padding: .5em;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  h1 {
    font-size: 2em;
    font-family: 'Cabin Sketch', 'Helvetica', sans-serif;
    margin: 0;
    color: floralwhite;
  }

  p {
    color: white;
    font-size: 12px;
    margin: 0 .5em;
    padding: 0 .3em
  }

  #user {
    display: flex;
    flex-direction: column;
  }

  nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #header-nav {
    display: none;
  }

  #header-nav a {
    color: floralwhite;
    text-decoration: none;
    margin: 0 .5em;
    padding: .25em;

    &:hover {
      color: lightgray;
    }

    &.selected {
      border-bottom: 2px solid $accent;
      margin-bottom: -2px;
    }
  }

  #under-nav nav {
    display: flex;
    // width: 100%;
  }

  #under-nav a {
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    padding: .5em;
    color: $text;
    background-color: $light-blue;

    &:hover {
      background-color: $accent;
    }

    &.selected {
      border-top: 3px solid $accent;
      margin-top: -3px;
    }
  }

  @media screen and (min-width: 580px) {
    header {
      font-size: 16px;
    }

    #header-nav {
      display: flex;
    }

    #under-nav {
      display: none;
    }

  }

}