{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
	},
  "env": {
    "node": true,
    "mocha": true,
    "es6": true,
    "protractor": true,
    "jasmine": true
  },
  "globals": {
    "angular": false,
    "chai": false
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off",
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}