<app-header current="$ctrl.current" tab="$ctrl.tab"></app-header>
<section ng-class="$ctrl.styles.friends">
  <div class="heading">
    <h1>My Friends</h1>
    <button class="button" ui-sref="home.add-friend">ADD FRIEND</button>
  </div>
  <div class="friend-container" ng-repeat="friend in $ctrl.current.friends track by friend._id">
    <h3><a ui-sref="user.collection({id: friend._id})">{{friend.username}}</a></h3>
    <button type="button" class="flat-button" ng-click="$ctrl.remove(friend._id)">REMOVE</button>
  </div>
  <div class="placeholder" ng-if="$ctrl.emptyFriends">
    <p>You haven't added any friends yet!</p>
  </div>
</section>
