<app-header current="$ctrl.current" tab="$ctrl.tab"></app-header>
<section ng-class="$ctrl.styles.nights">
  <div class="heading">
    <h1>My Gamenights</h1>
    <button type="submit" ui-sref="home.add-gamenight">CREATE</button>
  </div>
  <div class="nightbox">
    <h2>Hosting:</h2> 
    <div class="night-container" ng-repeat="hosting in $ctrl.hosted | orderBy: 'date' track by hosting._id">
      <a ui-sref="gamenight({id: hosting._id})"><h3>{{hosting.name}}</h3></a>
      <h4>{{hosting.datestring}}</h4>
    </div>
    <div ng-if="$ctrl.emptyHost">You're not hosting any gamenights yet.</div>
  </div>
  <div class="nightbox">
    <h2>Invited:</h2>
    <div class="night-container" ng-repeat="invited in $ctrl.invited | orderBy: 'date' track by invited._id">
      <a ui-sref="gamenight({id: invited._id})"><h3>{{invited.name}}</h3></a>
      <h4>{{invited.datestring}}</h4>
    </div>
    <div ng-if="$ctrl.emptyInvite">No current gamenights.</div>
  </div>
</section>