@import 'colors';

:local(.nights) {
  width: 85%;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    font-size: 16px;
    margin: .25em;
    color: $header;
  }

  h2 {
    text-align: center;
    color: $header;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .25em;
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    color: $gray;
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    color: $green;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $text;
  }

  button {
    margin: .25em;
    border: none;
    min-width: 64px;
    padding: 0 16px;
    background-color: $accent;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    color: white;

    &:hover {
      outline: none;
      box-shadow: 0 2px 6px rgba(0,0,0,.5);
    }
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .night-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-blue;
  }

  @media screen and (min-width: 550px) {
    h1 {
      font-size: 18px;
    }

    h4 {
      font-size: 15px;
    }

    button {
      font-size: 14px;
      height: 36px;
      cursor: pointer;
    }

    .heading {
      margin: .75em 0;
    }
  }
}