@import 'colors';

:local(.game) {
  border-bottom: 1px solid $light-blue;

  h3 {
    margin: .75em .25em;
    font-size: 14px;
    color: $gray;
    font-weight: 500;
  }

  li {
    font-size: 10px;
    margin: .25em;
  }

  p {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  img {
    padding: 1px;
    border: 1px solid dimgray;
    border-radius: 3px;
  }

  .game-stats {
    margin: 0 0 .5em;
    display: flex;
  }

  .players, .minutes {
    padding: .3em;
    color: $medium-blue;
    border: 1px solid $medium-blue;
    border-radius: 3px;
  }

  .expansion {
    padding: .3em;
    color: $green;
    border: 1px solid $green;
    border-radius: 3px;
  }

  .game-content {
    margin: .5em 0;
  }

  .game-header {
    cursor: pointer;

    &:hover {
      background-color: $light-gray;
    }
  }

  .owned {
    background-color: $light-green;

    &:hover {
      background-color: $greenish;
    }
  }

  .flat-button {
    margin: .25em;
    border: none;
    min-width: 64px;
    padding: 0 16px;
    background-color: $blue;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    color: white;
    cursor: pointer;
    outline: none;

    &:hover {
      box-shadow: 0 2px 6px rgba(0,0,0,.5);
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  @media screen and (min-width: 550px) {
    h3 {
      font-size: 15px;
    }

    p, h4 {
      font-size: 14px;
    }

    .game-stats {
      margin: 0;
      
      li:first-child {
        order: 2;
      }

      li:nth-child(2) {
        order: 3; 
      }
    }

    .players, .minutes, .expansion {
      padding: .5em;
    }

    .game-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .flat-button {
      font-size: 14px;
      height: 36px;
    }
  }

}