<div ng-class="$ctrl.styles.game">
  <div ng-class="{owned: $ctrl.owned[$ctrl.game._id]}" class="game-header" ng-click="$ctrl.expand = !$ctrl.expand">
    <h3>{{$ctrl.game.title}}</h3>
    <ul class="game-stats">
      <li class="players">{{$ctrl.game.minPlayers}} - {{$ctrl.game.maxPlayers}} players</li>
      <li class="minutes">{{$ctrl.game.playtimeMinutes}} minutes</li>
      <li class="expansion" ng-if="$ctrl.game.expansion">Expansion</li>
    </ul>
  </div>
  <div class="game-content" ng-show="$ctrl.expand">
    <img ng-if="$ctrl.game.thumbnail" ng-src="https://{{$ctrl.game.thumbnail}}">
    <p><i>{{$ctrl.game.yearPub}} - {{$ctrl.game.publisher}}</i></p>
    <p class="description">{{$ctrl.game.description}}</p> 
  </div>
</div>