@import 'colors';

:local(.game) {
  border-bottom: 1px solid $light-blue;
  cursor: pointer;

  h3 {
    margin: .75em .25em;
    font-size: 14px;
    color: $text;
  }

  p, li {
    font-size: 10px;
    margin: .25em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .game-stats {
    margin: 0 0 .5em;
    display: flex;
  }

  .players {
    padding: .3em;
    color: $medium-blue;
    border: 1px solid $medium-blue;
    border-radius: 3px;
  }

  .minutes {
    padding: .3em;
    color: $medium-blue;
    border: 1px solid $medium-blue;
    border-radius: 3px;
  }

  .expansion {
    padding: .3em;
    color: $green;
    border: 1px solid $green;
    border-radius: 3px;
  }

  @media screen and (min-width: 550px) {
    .game-stats {
      margin: 0;
    }

    .players, .minutes, .expansion {
      padding: .5em;
    }

    .game-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}