<div ng-class="$ctrl.styles.game" ng-click="$ctrl.expand = !$ctrl.expand">
  <div class="game-header">
    <h3>{{$ctrl.game.title}}</h3>
    <ul class="game-stats">
      <li class="players">{{$ctrl.game.minPlayers}} - {{$ctrl.game.maxPlayers}} players</li>
      <li class="minutes">{{$ctrl.game.playtimeMinutes}} minutes</li>
      <li class="expansion" ng-if="$ctrl.game.expansion">Expansion</li>
    </ul>
  </div>
  <div ng-show="$ctrl.expand">
    <img ng-src="https://{{$ctrl.game.thumbnail}}">
    <p>{{$ctrl.game.yearPub}}</p>
    <p>{{$ctrl.game.publisher}}</p>
    <p>{{$ctrl.game.description}}</p> 
  </div>
</div>