<app-header current="$ctrl.current" tab="$ctrl.tab"></app-header>
<section ng-class="$ctrl.styles.add">
  <h1>Create a gamenight</h1>
  <form>
    <label>Event name:<br>
      <input type="text" placeholder="Enter name" required ng-model="$ctrl.name">
    </label><br>
    <label>Select date:<br>
      <select ng-model="$ctrl.month" ng-options="month.name for month in $ctrl.months"></select>
      <select ng-model="$ctrl.day" ng-options="day.name for day in $ctrl.days"></select>
      <select ng-model="$ctrl.year" ng-options="year.name for year in $ctrl.years"></select>
    </label><br><br>
    <label>Add a description:<br>
      <textarea placeholder="Event details, time, location, etc..." ng-model="$ctrl.description" required></textarea>
    </label><br>
    <div class="submit-div">
      <button type="button" class="flat-button" ui-sref="home.gamenights">CANCEL</button>
      <button type="submit" class="button" ng-click="$ctrl.create()" ui-sref="home.gamenights">CREATE</button>
    </div>
  </form>
</section>