@import 'colors';

:local(.signup) {
  background-color: $blue;
  height: 100vh;

  h3 {
    padding: 2em 0 .5em;
    margin: 0;
    color: white;
  }

  .wrapper {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
  }

  input {
    box-sizing: border-box;
    font-size: 16px;
    height: 32px;
    width: 100%;
    border: 1px solid $light-blue;
    border-radius: 2px;
    padding: 0 8px;
    color: $text;
    margin: .5em 0;
  }

  .button {
    margin: .25em;
    border: none;
    min-width: 64px;
    padding: 0 16px;
    background-color: $accent;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.25);
    color: white;
    cursor: pointer;

    &:hover {
      outline: none;
      box-shadow: 0 2px 6px rgba(0,0,0,.5);
      color: $text;
    }
  }

  .flat-button {
    font-size: 13px;
    font-weight: 500;
    height: 32px;
    color: white;
    padding: 0 16px;
    border: none;
    border-radius: 2px;
    background-color: $blue;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
  }

  .buttons {
    text-align: right;
  }
  
  .error {
    color: white;
    font-size: 16px;
  }

  @media screen and (min-width: 550px) {
    input {
      height: 36px;
    }

    .button, .flat-button {
      font-size: 14px;
      height: 36px;
    }
  }

}