$blue: #3F51B5;

$medium-blue: #7986CB;

$dark-blue: #283593;

$light-blue: #C5CAE9;

$highlight: #FF3D00;

$accent: #FF8A80;

$gold: #FFD740;

$header: #5C6BC0;

$text: #4d4d4d;

$gray: #424242;

$light-gray: #F5F5F5;

$green: #4CAF50;