<app-header current="$ctrl.current" tab="$ctrl.tab"></app-header>
<section ng-class="$ctrl.styles.friend">
  <h1>Find your friends</h1>
  <form class="search">
    <input type="search" placeholder="Search by username" ng-model="$ctrl.searchInput" required>
    <button type="submit" class="search-button" ng-click="$ctrl.search()">GO</button>
  </form>
  <div ng-if="$ctrl.emptyResults">
    <p>No users found. Try refining your search.</p>
  </div>
  <div class="results" ng-if="$ctrl.showResults" ng-repeat="result in $ctrl.results">
    <h3>{{result.username}}</h3>
    <button ng-show="$ctrl.validFriend" class="flat-button" ng-click="$ctrl.add(result._id)">ADD FRIEND</button>
  </div>
  <p ng-if="$ctrl.myself">IT ME DUMMY</p>
  <p ng-if="$ctrl.friended">Already friended</p>
  <div class="back">
    <button class="flat-button back-button" ui-sref="home.friends">BACK</button>
  </div>
</section>